body {
}

img {
    pointer-events: none;
}

.shadow-article {
    box-shadow: 0px 0px 6px 6px gray;
    margin: 15px;
    width: 40%;
    cursor: pointer;
    min-height: 500px;
    padding: 10px;
    transition: all 0.2s;
}

.shadow-article:hover {
    box-shadow: 0px 0px 2px 2px gray;
}

.shadow-article .simple-text {
    color: gray;
    user-select: none;
}