@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["home_page"];
}

<div class="text-center">
    <h1 class="display-4">@Localizer["welcome"]</h1>
    <p><a asp-action="Index" asp-controller="NewsArticles">@Localizer["news"]</a></p>
</div>
