@model NewsApp.Entities.ViewModels.UserToRoleViewModel;
@inject NewsApp.Data.NewsAppContext context;

@{
}

<form method="post" asp-action="AddUserToRole">
    <div class="form-group">
        <label asp-for="UserEmail" class="control-label"></label>
        <input asp-for="UserEmail" name="UserEmail" class="form-control" required />
        <span asp-validation-for="UserEmail" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="UserEmail" class="control-label"></label>
        <input asp-for="UserEmail" name="UserEmail" class="form-control" required />
        <span asp-validation-for="UserEmail" class="text-danger"></span>
    </div>
</form>
<div asp-validation-summary="All" class="text-danger"></div>