@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<h3>@Localizer["apanel"]</h3>
<div class="d-flex flex-column">
    <a asp-action="AddUserToRole">@Localizer["add_user_to_role"]</a>
    <a asp-action="RemoveUserFromRole">@Localizer["remove_user_from_role"]</a>
</div>