html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.w-128 {
    width:128px;
}

.h-128 {
    height: 128px;
}

.w-256 {
    width: 256px;
}

.h-256 {
    height: 256px;
}

.w-312 {
    width: 312px;
}

.h-312 {
    height: 312px;
}

.w-512 {
    width: 512px;
}

.h-512 {
    height: 512px;
}


.o-fit-contain {
    object-fit: contain;
}